/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*}*/

/*.container {*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/

/*.sidebar {*/
/*    width: 200px;*/
/*    background-color: #333;*/
/*    color: white;*/
/*    padding: 15px;*/
/*    height: 100vh;*/
/*}*/

/*.sidebar ul {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*}*/

/*.sidebar ul li {*/
/*    margin: 10px 0;*/
/*}*/

/*.sidebar ul li a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*.content {*/
/*    flex: 1;*/
/*    padding: 20px;*/
/*}*/

/*.navigation {*/
/*    margin-top: 20px;*/
/*}*/

/*.navigation button {*/
/*    margin-right: 10px;*/
/*}*/


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    color: chocolate;
    background-color: lightgray;
}

nav {
    width: 200px;
    background: #333;
    color: white;
    padding: 20px;
    height: 100vh;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: darkseagreen;
    text-decoration: none;
    cursor: pointer;
}

#mainContent {
    padding: 20px;
    width: 100%;
}

.task-section {
    display: none;
}

